$text-color: #444950;
.p-box-pink{
  margin: 0;
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  color: $text-color;
}
.header-box-pink{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFDCD3;
  height: 32px;

}