$small: 300px;
$medium: 750px;
$big: 1400px;

.product-box{    
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.section-product-box{
    position:relative; 
    display:flex; 
    flex-direction: column; 
    justify-content: end; 
}

.img-product{
    // position: absolute;
    // z-index: -1;
}

.button-box-product{
    width: 296px;
    position: absolute;
    z-index: 1;
    margin: 0px 12px 12px 12px;
}
.total-points{
    margin: 0px 0px 0px 6px;
    font-family: 'Filson Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #939393;
}
.old-price{
    margin: 0px;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    line-height: 180%;
    text-align: right;
    color: #939393;
    text-decoration: line-through;

}

.new-price{
    margin: 0px 0px 0px 8px;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    line-height: 180%;
    text-align: right;
    color: #444950;

}
@media screen and (min-width: $small) and (max-width: $medium) {
    //css code
    .product-box{
        width: 247px;
    }
    .button-box-product{
        width: 223px;
    }
}
